body {
    margin: 0;
    padding: 0;
    background: #F6F6F6
}

p {
    margin: 0;
}

.main-header-wrapper-image {
    width: 100%;
    img {
        width: 100%;
        height: auto
    }
}

main {
    max-width: 1100px;
    margin: 0 auto;
    .container-left {
        width: 70%;
    }
    .container-right {
        width: 30%;
    }
}

.card-wrapper {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px gainsboro;
    background: #ffffff;
    margin-bottom: 2em;
    .card-image {
        background: #ffffff;
        width: 200px;
    }
    .card-description {
        width: 500px
    }
    .card-footer-menu {
        border-top: 2px solid grey;
        //  border-bottom: 0.5px solid grey;
        .icon-font {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: grey;
        }
    }
}

.card-filter {
    background: #ffffff;
    text-align: right;
    width: 100%;
    border-radius: 8px;
    //  box-shadow: 2px 2px gainsboro;
    .tab {
        width: 100%;
        border-bottom: 1px solid grey;
    }
    .input-select-wrapper {
        padding: 1em;
        label {
            width: 100%;
            text-align: left;
        }
        select {
            border-color: grey;
            border-radius: 8px;
            padding: 0.5em;
            width: 100%;
        }
    }
    .input-slider {
        padding: 1em;
        input {
            width: 100%
        }
    }
    .input-search {
        padding: 1em;
        input {
            padding: 0.5em;
            border: 0.5px solid grey;
            border-radius: 6px;
            width: 100%
        }
    }
    ;
    .contact-agent {
        background: #ffffff;
        text-align: right;
        width: 100%;
        border-radius: 8px;
    }
}